.cover__sutitle{
  
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.22;
max-width: 360px;
text-align: center;

color: rgba(255, 255, 255, 1);
margin: 0 auto 0;

}

@media screen and (max-width: 538px) {
  .cover__sutitle {
    font-size: 14px;
    line-height: 1.14;
      }
}