.places{
  max-width: 100%;
  padding: 0 100px 0 100px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 0;
  }  
}


@media screen and (max-width: 368px) {
  .places {
    padding: 0;
}  
}