
.header{
max-width: 100%;
max-height: 52px;
margin: 0 auto 56px;
padding-top: 28px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 0 auto 48px;
    
}  
}
