.intro__text{
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
/* Относительная величина в макете фигма противоречит в разных местах 
https://prnt.sc/uawks4 https://prnt.sc/uawl2c - поэтому задаю в пикселях*/
  color: #FFFFFF;
  text-align: start;
  max-width: 690px;
  margin: 40px 0 32px 0;
}




