.cover__title{
margin: 245px auto 32px;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.06;
text-align: center;
color: rgba(255, 255, 255, 1);
max-width: 560px;
z-index: 5;

}

@media screen and (max-width: 1024px) {
  .cover__title {
   
    margin: 195px auto 32px;

  }
}

@media screen and (max-width: 768px) {
  .cover__title {
   
    margin: 195px auto 32px;

  }
}

@media screen and (max-width: 624px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 115px auto 32px;

  }
}

@media screen and (max-width: 320px) {
  .cover__title {
   
    margin: 33px auto 16px;

  }
}